<div class="container">
    <% @equipments.each do |equipment| %>
        <div class="card">
            <img src="<%= equipment.image_path %>" alt="<%= equipment.nom %>">
            <div class="card-content">
                <h2><%= equipment.nom %></h2>
                <p><%= equipment.description %></p>
                <%= link_to 'Réserver', new_reservation_path(equipment), class: 'btn' %>
            </div>
        </div>
    <% end %>
</div>
