<h1>Mes réservations</h1>

<% if user_signed_in? %>
  <%= link_to "Réserver", new_reservation_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Réserver", "#", class: "btn btn-primary", onclick: "showLoginAlert()" %>
<% end %>

<% @reservations.each do |reservation| %>
  <div class="reservation">
    <img src="<%= reservation.gear.image_url %>" alt="Image de l'équipement">
    <p>Coût de la location : <%= reservation.cout %> €</p>
    <p>Date de début : <%= reservation.date_debut %></p>
    <p>Date de fin : <%= reservation.date_fin %></p>
  </div>
<% end %>
