<div class="container">
  <h1>Ajouter un nouvel équipement à louer</h1>

  <%= simple_form_for @gear do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :image_url %>
      <%= f.submit 'Créer' %>
  <% end %>
</div>
