<div class="container mt-navbar">
  <h1><%= @gear.name %></h1>
  <h4>loué par <%= @gear.user.first_name %></h4>
  <p><%= @gear.address %></p>
  <div class="cards">
    <div class="card-product text-black position-relative">
      <%= cl_image_tag @gear.photo.key %>
      <p class="ps-2"><%= @gear.description %></p>
      <p class="position-absolute quezac"><%= @gear.price %> €</p>
    </div>

  </div>
  <div class="container">
    <%= simple_form_for [@gear, @reservation], data: { controller: "datepicker", datepicker_disable_value: @disable_dates.to_json } do |f| %>
      <div class="d-flex">
        <%= f.input :date_de_debut,
            as: :string,
            input_html: { data: { datepicker_target: "start" } } %>
        <%= f.input :date_de_fin,
            as: :string,
            input_html: { data: { datepicker_target: "end" } } %>
      </div>
      <%= submit_tag "Réserver" %>
    <% end %>
  </div>
</div>


<%# <h2>Coordonnées du propriétaire</h2> %>
<%# <p>Téléphone : <%= @gear.proprietaire.telephone</p> %>
<%# <p>Email : <%= @gear.proprietaire.email %>
