<div class="container mt-5">


<h1>Détails de l'équipement</h1>

<%= cl_image_tag @gear.photo.key %>
<p>Description : <%= @gear.description %></p>
<p>Prix à la journée : <%= @gear.price %> €</p>

<%= simple_form_for [@gear, @reservation] do |f| %>
  <div class="field">
    <%= f.input :date_de_debut, class: "datepicker" %>
  </div>
  <div class="field">
    <%= f.input :date_de_fin, class: "datepicker" %>
  </div>
  <%= submit_tag "Réserver" %>
<% end %>

<%# <h2>Coordonnées du propriétaire</h2> %>
<%# <p>Téléphone : <%= @gear.proprietaire.telephone</p> %>
<%# <p>Email : <%= @gear.proprietaire.email %>

</div>
